/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/*.navbar-right 
{
    float: right !important;
}*/
/* General styles*/

/*.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}*/

/*.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}*/

.emailf
{
    font-size: 2rem
}
body {
    font-family: Montserrat, cursive;
    font-size: 16px;
    color: #444;
}
.text-l{
    text-align: left;
    font-size: 24px;
}
.sectionTitle {
    color: black;
    font-family: "Montserrat", cursive;
    margin-bottom: 3rem;
    margin-top: 3rem;
        font-weight: bold;
}
.sectionTitle1 {
    color: black;
    font-family: "Montserrat", cursive;
        margin-bottom: 3rem;
    margin-top: 3rem;
        font-weight: bold;
}
hr {
    border-color: #1D2E26;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 0 auto;
    width: 90%;
    clear: both;
}

.bottomSpacer {
    margin-bottom: 3rem;
}


/* Header styles
    (all the styles inside the < header > or < nav > tags)
*/
.h4{
    text-align:left;
}
.navbar {
    padding-bottom: 2rem;
    background-color: #fff;
}

.navbar-brand img {
    width: 5rem;
}

.navbar-default {
    border: none;
}
.navbar-center{
    margin-right: 30px;
    margin-top: 1px;
    margin-left: 10px;
}

/* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/


/*Jumbotron Styles*/

.hero .jumbotron {
    background-image: url(../images/nybg.jpg);
    height: 70rem;
    background-size: cover;
    background-position: center;
    /*text-transform: uppercase;*/
    text-align: center;
    font-family: "Montserrat", cursive;
}

.hero .jumbotron .jumboName {
    margin-top: 4rem;
    color: black;
    font-weight: bolder;
    font-size: 4.5rem;
    padding-top: 25px;
}
.jumbotron{
    margin-bottom: 0px !important;
}
.marginminus8
{
    margin-bottom: -60px;
}
.hero .jumbotron h4 {
   color:black;
    font-size: 4rem;
    font-weight: bolder;
    
}

.hero .fa-chevron-down {
    margin-top: 47rem;
    font-size: 5rem;
    color: #1D2E26;
}

.pt{
        padding-top: 18px;
}
/*Intro Styles*/

.introduction {
    clear: both;
    height: 40rem;
    text-align: left;
    line-height: 1.37;
}

.introduction img {
    width: 100%;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*Portfolio Styles*/

.portfolio {
    clear: both;
    color: #fff;
    text-align: center;
    margin-top: 8rem;
}

.portfolio .box {
    height: 54rem;
    padding-bottom: 4rem;
    padding-top: 12rem;
}

.portfolio .box  {
    min-height: 10rem;
    margin-top: -4rem;
}

.portfolio .box .description {
    min-height: 28rem;
}

.portfolio .box:hover {
    border: 1px solid #333;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
}

.portfolio .shortBox {
    height: 12rem;
}

.portfolio .info {
    min-height: 36rem;
   /* padding: 1rem;*/
}

.info:hover {
    cursor: pointer;
}

.screenshot {
    max-height: 100rem;
    width: 90%;
    padding-top: 3rem;
}
.textd
{
    text-align: left;
    color:black;
}
.padding50px{
    padding-top:50px;
}
.name-left{
    margin-left:30px;
    padding-top:15px;
        font-weight: bolder;
}
.screenshot1 {
    max-height: 800px;
    width: 1000px;
    padding-top: 3rem;
}

#nycBikeApp {
    background: rgba(79, 124, 103, 0.9);
}

#contactApp {
    background: rgba(49, 77, 64, 0.9);
}

#restaurantSearch {
    background: rgba(29, 46, 38, 0.9);
}

#noteKeeper {
    background: rgba(59, 93, 77, 0.9);
}


/*Skills Styles*/

.icons img {
    max-height: 10rem;
    width: 10rem;
    margin-top: 4rem;
}


/*Details Styles*/

.closeDetails {
    margin-top: 1rem;
    margin-right: 4rem;
    text-align: right;
    color: #444;
}

i:hover,
.closeDetails:hover {
    cursor: pointer;
}

#nycBikeImage {
    border: 10px solid rgba(79, 124, 103, 0.9);
    margin-top: -4.1rem;
}

#contactAppImage {
    border: 10px solid rgba(49, 77, 64, 0.9);
    margin-top: -4.1rem;
}

#restaurantSearchImage {
    border: 10px solid rgba(29, 46, 38, 0.9);
    margin-top: -4.1rem;
}

#noteKeeperImage {
    border: 10px solid rgba(59, 93, 77, 0.9);
    margin-top: -4.1rem;
}

#nycBikeImage,
#contactAppImage,
#restaurantSearchImage,
#noteKeeperImage {
    display: none;
}

.details h4 {
    color: #444;
    margin-top: 7rem;
    line-height: 1.37
}
.btn-color{
        background-color: cornflowerblue;
    color: rgba(29, 46, 38, 0.9);
    font-weight: bold;
}
.details .btn {
    background-color: #fff;
    border: 1px solid #1D2E26;
    color: #1D2E26;
    margin: 4rem auto;
}

.demoReroute {
    color: #444;
    margin-bottom: 3rem;
    margin-top: -3rem;
}


/*ContactStyles*/

.contactInfo {
    text-align: center;
}

.contactInfo h2 {
    text-align: center;
    margin-top: 4rem;
}

.contactInfo p {
    padding: 1rem;
}

.contactInfo a {
    color: #608976;
}

.contactInfo a:hover {
    color: #1D2E26;
    text-decoration: none;
}

contactInfo .fa {
    margin-right: 1.5rem;
    margin-top: 1rem;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/

footer {
    height: 10rem;
    background-color: #1D2E26;
    color: #fff;
    margin-top: 8rem;
    text-align: center;
    margin-bottom: -3rem;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}


/* Responsive styles*/

/*@media only screen and (max-width: 1460px) {*/
    /*.introduction img {*/
        /*padding-top: 2rem;*/
    /*}*/
/*}*/





/*@media only screen and (max-width: 768px) {*/
    /*.introduction img {*/
        /*width: 90%;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 480px) {*/
    /*.icons img {*/
        /*max-height: 5rem;*/
        /*width: 5rem;*/
        /*margin-top: 2rem;*/
    /*}*/
/*}*/

    @media only screen and (min-width: 320px) {
        /*.icons img {*/
            /*max-height: 10rem;*/
            /*width: 5rem;*/
            /*margin-top: 2rem;*/
        /*}*/
        img {
    margin-bottom: 3rem;
}
        .navbar-brand {
    padding-left: 25px !important;
    color:black !important;
}
.sectionTitle {
   font-size: 24px;
}
.sectionTitle1 {
    font-size: 24px;
}
.navbar {
    padding-bottom: 0rem;
}

.emailf
{
    font-size: 1.5rem
}

.col-xs-offset-2 {

    margin-left: 0%;

}

        .icons img {
    max-height: 5rem;
    width: 5rem;
    margin-top: 2rem;
}

    
   .hero .jumbotron .jumboName {
    margin-top: 4rem;
    color: black;
    font-weight: bolder;
    font-size: 3rem;
    padding-top: 25px;
}
.hero .jumbotron h4 {
   color:black;
    font-size: 3rem;
    font-weight: bolder;
    
}
.text-l{
    text-align: left;
    font-size: 16px;
}
.navbar-toggle {
    margin-right: 25px !important;
}
        .description{
                min-height: 15rem !important;
        }
        .screenshot1 {
            max-height: 500px;
            width: 235px;
            padding-top: 1rem;
        }
        .portfolio .box {
            height: 25rem;
            /*padding-bottom: 4rem;*/
            /*! padding-top: 5rem; */
        }

        .portfolio  {
            min-height: 0rem;
            margin-top: 0rem;
        }

        .portfolio .box  {
            min-height: 0rem;
            margin-top: 1.5rem;
            padding-bottom: 0rem;
            padding-top: 1rem;
        }

.fa-2x {

    font-size: 1.5em;

}
.hero .fa-chevron-down {
    margin-top: 30rem;
    font-size: 3rem;
    color: #1D2E26;
}
.pt {

    padding-top: 1px;

}
h2
{
    font-size: 20px;
}

.contactInfo h2 {

    font-size: 16px;

}
        /*.portfolio .box .description {*/
            /*min-height: 18rem;*/

        /*}*/
    }

    @media only screen and (min-width: 550px) {
    
    .screenshot1 {
        max-height: 500px;
        width: 500px;
        padding-top: 3rem;
    }
.portfolio .box {
            height: 45rem;
            /*padding-bottom: 4rem;*/
            /*padding-top: 5rem;*/
        }
   
    h2 {
        font-size: 30px;
    }

}


    @media only screen and (min-width: 768px) {


 .btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px !important;
    font-size: 15px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
}
.pull-left{
    margin-left: 30px !important;
}

/*          .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }*/

    .introduction img {
        width: 70%;
        padding-top: 0rem;
    }
    .screenshot1 {
        max-height: 800px;
        width: 600px;
        padding-top: 3rem;
    }

    .portfolio .box {
        height: 50rem;
   /*     padding-bottom: 4rem;
        padding-top: 1rem;*/
    }

    h2 {
        font-size: 30px;
    }

    .contactInfo h2 {

    font-size: 24px;

}
.emailf
{
    font-size: 2rem
}

       .icons img {
    max-height: 8rem;
    width: 8rem;
    margin-top: 2rem;
}
   .hero .jumbotron .jumboName {
    margin-top: 4rem;
    color: black;
    font-weight: bolder;
    font-size: 4rem;
    padding-top: 25px;
}
.hero .jumbotron h4 {
   color:black;
    font-size: 4rem;
    font-weight: bolder;
    
}
.text-l{
    text-align: left;
    font-size: 24px;
}
.sectionTitle1 {
    font-size: 30px;
}
        img {
    padding-bottom: 0rem;
}
}


@media only screen and (min-width: 992px) {

/*    .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }*/

  .btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
}

    .introduction img {
        width: 70%;
        padding-top: 0rem;
    }
    .screenshot1 {
        max-height: 800px;
        width: 700px;
        padding-top: 3rem;
    }

    .portfolio .box {
        height: 55rem;
   /*     padding-bottom: 4rem;
        padding-top: 1rem;*/
    }
    .portfolio .box  {
       /* min-height: 10rem;*/
        margin-top: 1.5rem;
    }
    h2 {
        font-size: 20px;
    }

}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 30px;
    }
      .portfolio .box {
            height: 72rem;
            /*padding-bottom: 4rem;*/
            /*padding-top: 5rem;*/
        }
    .screenshot1 {
        max-height: 800px;
        width: 1000px;
        padding-top: 3rem;
    }
}